*{
    margin: 0;
    padding:0;

}
.navbar{
    font-size: large;
    font-weight: bold;
    position: sticky;
    top:0;
    z-index:2;
    background-color: white;
}

.nav-link1{
    font-size: medium;
    font-weight: bold;
    font-size:18px;
    padding: 8px;
    text-decoration: none;
    color: black;
}
.nav-link1:hover
{
    color:hwb(0 31% 1%);
}
.container1
{
    background-color: hwb(0 31% 1%);
    width: 100%;
    height: 400px;
    justify-content: center;
    
}
.container_home{
   
   height:600px;
   background-image:  linear-gradient(to right top, #747272, #736462, #715650, #6b493c, #633e27),url(https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg);
 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position:relative;
   z-index:1;
   
   
}
.home{
position: absolute;
margin-left:26%;
margin-top: 10%;
}
.navbar-nav{
    margin-left: 60%;
}
.home{
    
    font-size: larger;
    font-weight: bold;
   
}
.heading1{

    
    color: white;
    text-align: center;
    font-weight: bold;
    
}
.underline
{
    text-align: center;
    background-color: brown;
    width:50px;
    height:4px;
    align-content: center;
    margin-left:47%;
margin-top:5%;
border-radius:10%;
    
}
.btn{
    text-align: center;
    margin-left:40%;
    background-color: hwb(0 31% 1%);
    border-radius: 25px;
    

}
p{
    font-family: 'Times New Roman', Times, serif;
}
.underline2
{
    text-align: center;
    background-color:white;
    width:50px;
    height:4px;
    justify-content: center;
    margin-left:47%;
margin-top:2%;
border-radius:10%;
}
.container1 .btn{
    text-align: center;
    margin-left:44%;
    background-color:white;
    border-radius: 25px;
    justify-content: center;
    padding:15px;
    
    

}
.card{
    border:none;
}

.gallery img {
    
    width:450px;
    height: 250px;
    object-fit: cover;
    transform: scale(0.5s);
    
}
.container_download
{
width:100%;
height:400px;
background-color: black;
padding-top: 60px;

}
.container_download .btn
{
    background-color: lightgray;
    font-weight: bold;
    justify-content: center;
    margin-left: 43%;
}
.contact-text{
    justify-content: center;
    text-align: center;
    color:rgb(129, 126, 126);
    font-size: large;
}
.form_content{
   
    
    margin-left: 30%;
}
.form-control{
    width:500px;
}
.form_content .btn{
   
    width:500px;
    margin-left:8px;
}
.fa{
    text-decoration: none;
}
.container_gallery {
    position: relative;
    width: 33%;
    margin:0;
  }
  
  .container_gallery.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:250px;
    width: 100%;
    opacity:0;
    transition: .5s ease;
    background-color: hsl(2, 100%, 64%);
  }
  
  .container_gallery:hover .overlay {
    opacity:0.5;
   
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .rowp{
    
    width:700px;
   
   
  }
  .container1-text{
    width:800px;
   
    margin-left: 20%;
}
